av
black
caffe2
cityscapesscripts
cloudpickle
docutils
fairscale
fvcore
hydra-core
iopath
matplotlib
mmcv
mmdet
numpy
omegaconf
onnx
Pillow
psutil
pycocotools
Pygments
pytorch_lightning
PyYAML
recommonmark
scipy
setuptools
Shapely
Sphinx
sphinx_rtd_theme
tabulate
termcolor
timm
tqdm
vision
